@import url('//fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Contact Form Styles */

*{
    background-color: white;
    padding: 10px;
}

h1{
    color: #1d4ed8;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

input{
    background-color: beige;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #1d4ed8;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

input:hover{
    background-color: bisque;
    border-color:#13389c;
}

textarea{
    background-color: beige;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #1d4ed8;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

textarea:hover{
    background-color: bisque;
    border-color:#13389c;
}

button {
    background-color: beige;
    border-radius: 20px;
    border-color: #1d4ed8;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

button:hover{
    background-color: bisque;
    border-color:#13389c;
    cursor: pointer;
}