@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
img{
    width: 150%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display:flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #3234b5;
    font-size: 1.5rem;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #3234b5;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color:#3234b5;
    font-size: 1rem;
    font-weight: 600;
}

header.content h1{
    color: #3234b5;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color:transparant;
    -webkit-text-stroke: 1px #3234b5;
}

header .content p{
    margin-bottom: 2rem;
    color: rgb(0, 0, 0)
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 40rem;
    color: #1d4ed8;
    opacity:0.2;
    z-index: -100
}

header .image img{
    border: 5px solid #1d4ed8;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    border-radius: 100px;
    padding: 0px;
}

section .header{
    margin-bottom: 1rem;
    color: #1d4ed8;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.services{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.services .card{
    background-color:beige;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.services .card:hover{
    background-color: bisque;
    border-color:black;
}

.services .card span{
    display: inline-block;
    background-color: #1d4ed8;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.services .card h4{
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

.services .card p{
    color: darkslategray;
    margin-bottom: 1rem;
}

.services .card a{
    color: #1d4ed8;
    transition: all 0.3s ease;
}

.services .card a:hover{
    color: #142d81;
}

.heading .gallery h2{
    margin-bottom: 1rem;
    color: #1d4ed8;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: darkslategray;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img{
    border: 3px solid darkslategray;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: darkslategray;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .columns .socials a{
    color: darkslategray;
    border: 1px solid darkslategray;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .columns .socials a:hover{
    color: rgb(39, 65, 65);
    background-color: #1d4ed8;
    border-color: #1d4ed8;
    
}

